<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="<TMPL_VAR BASE>/<TMPL_VAR INSTANCE>/css/public/menu.css">
    <script type="text/javascript" language="JavaScript" src="<TMPL_VAR BASE>/<TMPL_VAR INSTANCE>/js/common/main.js"></script>
    <script type="text/javascript" language="JavaScript" src="<TMPL_VAR BASE>/<TMPL_VAR INSTANCE>/js/common/date.js"></script>
    <script type="text/javascript" language="JavaScript" src="<TMPL_VAR BASE>/<TMPL_VAR INSTANCE>/js/sfxmenu/main.js"></script>
    <title>Multiple Object Menu</title>
</head>

<body>
<div id="container">

<div id="banner"><img src="http://www.library.ualberta.ca/images/biggetit.gif" alt="Get It" vspace=0 width=283 height=40 align=bottom></div>

